<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Task 01 Teerop | AI Certificate OCR</title>

    <link rel="stylesheet" href="/static/css/style.css">

</head>

<body>

<div class="container">

    <h1>Task 01 Teerop</h1>

    <p class="subtitle">

        AI-Based Certificate Information Extraction System

        <br><br>

        Upload a certificate in <strong>PDF</strong>,
        <strong>JPG</strong> or
        <strong>PNG</strong> format.

        The system automatically extracts certificate details using
        Optical Character Recognition (OCR).

    </p>

    <form action="/upload" method="POST" enctype="multipart/form-data">

        <input
            type="file"
            name="file"
            accept=".pdf,.jpg,.jpeg,.png"
            required>

        <button type="submit">

            Start OCR Processing

        </button>

    </form>

    <div class="footer">

        <p>

            <strong>Supported Formats</strong>

            <br><br>

            PDF • JPG • PNG

            <br><br>

            <strong>Technologies</strong>

            <br><br>

            Flask • Python • Tesseract OCR • OpenCV • PDF2Image

        </p>

    </div>

</div>

</body>

</html>